.notification {
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    width: 75px;
    cursor: pointer;
  }
  
  .notification:hover {
    background: red;
  }
  
  .notification .badge {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }