.notification {
    color: white;
    text-decoration: none;
    padding: 26px;
    height: var(--nav-height);
    position: relative;
    display: flex;
    border-radius: 2px;
    width: 75px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
  }
  
  .notification:hover {
    background: red;
  }
  
  .notification .badge {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }