.parentProfile {
    box-sizing: border-box;
    font-family: 'Gamja Flower', cursive;
    justify-content: space-evenly;
    margin: 0;
    overflow-wrap: break-word;
    padding: 0;
    text-size-adjust: auto;
}

.editTitle {
    font-weight: bold;
    text-align: center;
}

.parentInput {
    box-sizing: border-box;
    border: none;
    border-bottom: .3em solid purple;
    margin: 1em;
    width: 100%;
    text-align: center;
}

#tableBody {
    line-height: 2em;
    margin-bottom: 1em;
}

.parentLabel {
    font-weight: bold;
    margin-right: 1em;
}

.btn {
    background-color: rgb(137, 106, 209);
    border: .2em solid rgb(231 240 254);
    color: rgb(231 240 254);
    font-size: 1rem;
    margin-top: 1em;
    padding: .5em;
}

.btn-default:hover {
    background-color: transparent;
    color: rgb(168 186 227);
}

.parentProfile {
    margin: 1em;
    justify-content: center;
}

.childDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
}

@media screen and (min-width: 600px){
    .table {
        font-size: 2em;
   }

   .btn {
    width: 7em;
   }

   .editTitle {
        justify-content: left;
        font-size: 3em;
        margin: .5em .5em 0em .5em;
        text-align: left
   }

    .parentProfile {
        margin: 2em;
    }
}