:root {
  --nav-height: 50px;
  --primary-color: rgb(53, 137, 216);
  --secondary-color: rgb(32, 178, 170);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 380px;
  width: auto !important;
}
