.container1 {
  display: grid;
   background:
   radial-gradient(#5a4b66 15%, transparent 15%) 0 0,
  radial-gradient(#52445c 15%, transparent 15%) 16px 16px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 16px 17px;
  background-size: 32px 32px;
  background-color: #635270;
}