.signUpDiv {
    font-family: 'Gamja Flower', cursive;
}
.signUpTitle {
    padding-left: .5em;
}
.signUpTable {
    margin-left: 1em;
}

.signUpInput {
    box-sizing: border-box;
    border: none;
    border-bottom: .3em solid purple;
    height: 2em;
    margin: .5em;
    width: 100%;
    text-align: center;
}

.signUpLabel {
    font-size: 1.5em;
}

#createBtn {
    width: 100%
}

.validation {
    color: red;
    padding-left: 20px;
}

@media screen and (min-width: 600px) {
    .signUpTitle {
        font-size: 3em;
    }
    .signUpLabel {
        font-size: 2em;
    }
    .signUpInput {
        height: 2.5em;
        margin: .5em;
    }
}