.footer {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background: #E5E5E5;
  flex-shrink: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
  position: fixed;
  bottom: 0;
  height: 15px;
  width: 100%;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #B8B8B8;
}
