.addChild {
    font-family: 'Gamja Flower', cursive;
    margin: auto;
    padding: 1em;
    text-align: center;
    width: 50%;
}

.addChildForm {
    padding: .4em;
}

.addChildInput {
    box-sizing: border-box;
    border: none;
    border-bottom: .3em solid lightblue;
    margin-bottom: 1em;
    text-align: center;
}

.addChildLabel {
    line-height: 3em;
    text-align: center;
}

.addChildCheckbox {
    margin: .5em;
}

.tagList {
    margin: 1em;
}

@media screen and (min-width: 600px){
    .addChildTitle {
     font-size: 5rem;
     text-align: center;
    }

    .addChildInput {
        width: 100%;
    }

    .tagTable {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
 }