{
  "development": {
    "username": "postgres",
    "password": "password",
    "host": "localhost",
    "port": 5432,
    "database": "handmeups",
    "dialect": "postgres"
  },
  "test": {
    "username": "postgres",
    "password": "password",
    "host": "localhost",
    "port": 5432,
    "database": "handmeups_test",
    "dialect": "postgres"
  },
  "production": {
    "use_env_variable": "DATABASE_URL",
    "dialect": "postgres"
  }
}
