.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25px 75px 75px 75px 25px;
    background-color: white;
}


.DonationDemographics {
    display: grid;
    grid-template-columns: 25px;
    grid-auto-flow: row;
    background-image: white;
    background: cover;
}

.card {
    display: grid;
    border: solid 1 black;
    border-radius: 5px;
    grid-column: 3;
    font-size: 15px;
    background-color: white;
    background: cover;
}