.login-form {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    max-width: 384px!important;
    border: 5px solid rgb(238, 255, 0);
    padding: 10px;
    border-radius: 10px;
    right: 5px;
    top: 5px;
    margin-left: auto;
    margin-right: 50px;
    margin-bottom: auto;
    margin-top: 200px;
    color: rgb(245, 112, 59);
    background-color:rgba(233, 245, 58, 0.8);
    font-family: 'Gamja Flower', cursive;
    font-size: 18px;
}

.child {

    background-color: rgba(233, 245, 58, 0.8);
    -webkit-background-origin: content-box;
    background-origin: content-box;
}

#userName {
    background-color:rgba(228, 245, 79, 0.7);
}

#password {
    background-color:rgba(242, 245, 79, 0.7);
}

.login-row {
    width: 100%;
}

.input-field {
    width: 100%;
    padding: 0;
    margin: 10px 0;
    outline: 0;
    border-width: 0 0 2px;
    border-color: purple;
}

.input-field:focus {
    border-color: blue;
}

.sign-in-btn {
    width: 100%;
    padding: 10px;
    color: black;
    background-color: rgb(255, 72, 0);
    font-family: 'Gamja Flower', cursive;
    border: .2em solid rgb(231 240 254);
    color: rgb(231 240 254);
    font-size: 1rem;
    width: 10em;
}
.sign-in-btn:hover {
    background-color: transparent;
    color: rgb(168 186 227);
}

.error {
    margin: .5em;
    color:rgb(255, 72, 0);;
}