/* .container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 250px 400px 150px ;
} */

.login-form {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    max-width: 384px!important;
    border: 5px solid rgb(238, 255, 0);
    padding: 10px;
    border-radius: 10px;
    right: 5px;
    top: 5px;
    margin-left: auto;
    margin-right: 50px;
    margin-bottom: auto;
    margin-top: 200px;
    color: rgb(245, 112, 59);
    background-color:rgba(233, 245, 58, 0.8);
    font-family: 'Gamja Flower', cursive;
    font-size: 18px;
}

#userName {

    background-color:rgba(228, 245, 79, 0.7);
}

#password {

    background-color:rgba(242, 245, 79, 0.7);
}

.login-row {
    width: 100%;
}

.input-field {
    width: 100%;
    padding: 0;
    margin: 10px 0;
    outline: 0;
    border-width: 0 0 2px;
    border-color: purple;
}

.input-field:focus {
    border-color: blue;
}

.sign-in-btn {
    width: 100%;
    padding: 10px;
    color: black;
    background-color: rgb(255, 72, 0);
    font-family: 'Gamja Flower', cursive;
}

.error {
    background-color: red;
}