.navbar {
  background-color: rgb(85, 202, 157);
  height: var(--nav-height);
  color: rgb(15, 15, 15);
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-branding {
  text-decoration: none;
  /* background-color: var(--primary-color); */
  color: rgb(7, 7, 7);
  font-size: x-large;
  height: 100%;
  width: 270px;
  margin: 0 30px;
  display: flex;
  justify-content: flex-start;
}

.navbar-brand {
  display: flex;
  font-family: 'Gamja Flower', cursive;
  justify-content: flex-start;
  text-decoration: none;
  color: rgb(5, 5, 5);
  background-image: cover;
  font-size: x-large;
  margin: auto;
}

.nav-list {
  list-style-type:none;
  font-family: 'Gamja Flower', cursive;
  align-items: center;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.nav-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

}

.nav-link:not(.active):hover {
  background-color: var(--primary-color);
  color: rgb(7, 7, 7);
}

.nav-link {
  text-decoration: none;
  color: rgb(12, 12, 12);
  padding: .5rem 1rem;
  cursor: pointer;
}

.nav-link.active {
  background-color: var(--secondary-color);
  border-radius: 15%;
}

.nav-space {
  opacity: 0.5;
}